.box{
    height: 500px;
    width: 500px;
    padding: 30px;
    border: 30px dotted black;
   /* background-image: url('img.png'),url('img.gif');
   background-repate:repate repate; */
   
   background-image: url('images.webp');
   background-attachment: fixed;
   /* background-clip: content-box; */
   /* background-repeat
}
   