.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color:brown;
    /* block inline*/
    display: inline-block;
}

.b1{
    visibility: hidden;
    /*display: none*/
}
