p{
  color:orange;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 80;
}
#p1{
    color: blue;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 80;
}
#p2{
    color: chocolate;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 80;
}
